<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationcar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationCar">
        <activity
            android:name=".UI.ACCOUNT.InformationScreen"
            android:exported="false" />
        <activity
            android:name=".UI.ACCOUNT.SettingScreen"
            android:exported="false" />
        <activity
            android:name=".UI.HISTORY.MapScreen"
            android:exported="false" />
        <activity
            android:name=".UI.HOME.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".UI.SCREENACCOUNT.ScreenSigin"
            android:exported="false" />
        <activity
            android:name=".UI.SCREENACCOUNT.ScreenLogin"
            android:exported="false" />
        <activity
            android:name=".UI.SPLASHSCREEN.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>